body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 22px;
  color: #333;
  font-size: 12px;
}
.f-cb{
  zoom: 1;
}

.f-cb:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.single-page{
  padding: 50px 0;
}
.single-page img{
  max-width: 100%;
}
.single-page-title{
  font-size: 30px;
  line-height: 50px;
  color: #333;
}
.single-page-author{
  font-size: 14px;
  color: #999;
  line-height: 22px;
  margin-top: 20px;
}
.single-page-content{
  font-size: 16px;
  line-height: 30px;
  color: #333;
  margin-top: 20px;
}
.single-page-content p{
  margin-bottom: 20px;
}
.horizontally{
  margin: 0 auto;
}
.comment-list{
  padding-top: 20px;
  margin-top: 100px;
  border-top: 1px solid #000;
}
.comment-list-item{
  margin-bottom: 40px;
}
.comment-list-avatar{
  width: 30px;
  height:30px;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.comment-list-name{
  font-size: 15px;
  color: #333;
  line-height: 30px;
}
.comment-list-time{
  font-size: 15px;
  color: #999;
  line-height: 30px;
}
.comment-list-content{
  font-size: 13px;
  line-height: 24px;
  color: #666;
  margin-top: 10px;
  word-break: break-all;
}
.comment-list-bot{
  margin-top: 5px;
}
.comment-list-reply{
  margin: 20px 10px;
  padding: 10px;
  font-size: 13px;
  line-height: 24px;
  color: #999;
  border: 1px solid #999;
}