.huaban {
  padding: 30px 0;
}

.huaban-item {
  width: 300px;
  margin-bottom: 20px;
}

.huaban-img {
  display: block;
}

.huaban-top {
  padding-top: 30px;
  font-size: 18px;
  color: #666;
}

.huaban-change {
  cursor: pointer;
}
